.posts {
  /* flex: 9; */
  width: 80%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}

@media screen and (max-width: 480px) {
  .posts {
    width: 100%;
  }
}
