.home {
  display: flex;
}

.no_posts {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

@media screen and (max-width: 768px) {
  .home {
    display: flex;
    flex-wrap: wrap;
  }
}
