.post {
  width: 40%;
  margin: 2rem 1.2rem;
  box-shadow: 0 0px 5px rgb(0 0 0 / 9%);
  border-radius: 0.4rem;
  padding: 11px;
}

.postImg {
  width: 100%;
  border-radius: 0.5rem;
  object-fit: cover;
}

.postInfo {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.postCatagory {
  font-family: "Varela Round", Arial, Helvetica, sans-serif;
  font-weight: 400;
  font-size: 11px;
  color: #be9656;
  line-height: 19px;
  /* margin-top: 15px;
  margin-right: 10px;
  margin-left: 10px; */
  cursor: pointer;
  display: flex;
}
.postCat {
  margin: 10px;
}
.postTitle {
  font-family: "Josefin Sans", Arial, Helvetica, sans-serif;
  font-size: 24px;
  font-weight: 900;
  margin-top: 15px;
  cursor: pointer;
  word-break: break-word;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
}

.postDate {
  font-family: "Lora", serif;
  font-style: italic;
  font-size: 13px;
  font-weight: 400;
  color: #999999;
  margin-top: 15px;
}

.postDecs {
  font-family: "Varela Round", Arial, Helvetica, sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  color: #444444;
  margin-top: 15px;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

@media screen and (max-width: 480px) {
  .post {
    width: 80%;
  }
}
