.write {
  /* padding: 3.1rem; */
  width: 80%;
  margin: 0 auto;
}

.writeImg {
  /* margin-left: 150px; */
  width: 100%;
  /* height: 100vh; */
  border-radius: 10px;
  object-fit: contain;
  margin-top: 1rem;
}

.writeForm {
  position: relative;
}

.writeFormGroup {
  /* margin-left: 150px; */
  display: flex;
  align-items: center;
}
.writeFormGroups {
  /* margin-left: 150px; */
  display: flex;
  align-items: center;
  flex-direction: column;
}

.writeIcon {
  width: 25px;
  height: 25px;
  font-size: 20px;
  border: 1px solid;
  border-radius: 50%;
  color: rgb(129, 125, 125);
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.writeInput {
  font-size: 30px;
  border: 1px lightgray;
  margin: 20px;
  width: 70vw;
  background: #f0eef05e;
  border-radius: 0.5rem;
}

.writeInput::placeholder {
  color: rgb(189, 185, 185);
  font-weight: 400;
  padding: 20px;
}

.writeInput:focus {
  outline-style: none;
}

.writeText {
  width: 70vw;
  height: 52vh;
  font-family: inherit;
  font-size: 20px;
  background: #f0eef05e;
}

.writeSubmit {
  /* position: absolute;
  top: 16rem;
  right: 9rem; */
  margin: 1rem 0;
  color: white;
  background-color: teal;
  padding: 10px;
  border: none;
  border-radius: 10px;
  font-size: 16px;
  cursor: pointer;
  display: flex;
  align-items: center;
}

.write_up {
  margin-left: 0.8rem;
}

.container {
  margin: 1.2rem;
}
.container > h2 {
  font-family: "Lora", serif;
  font-style: italic;
  font-weight: 400;
  color: #999999;
  margin-bottom: 0.2rem;
}

.select-box {
  display: flex;
  width: 18.5rem;
  flex-direction: column;
}

.select-box .options-container {
  background: #2f3640;
  color: #f5f6fa;
  max-height: 0;
  width: 100%;
  opacity: 0;
  transition: all 0.4s;
  border-radius: 8px;
  overflow: hidden;

  order: 1;
}

.selected {
  background: #2f3640;
  border-radius: 8px;
  margin-bottom: 8px;
  color: #f5f6fa;
  position: relative;

  order: 0;
}

.selected::after {
  content: "";
  background: url("./Down_arrow.svg");
  background-size: contain;
  background-repeat: no-repeat;

  position: absolute;
  height: 100%;
  width: 32px;
  right: 10px;
  top: 5px;

  transition: all 0.4s;
}

.select-box .options-container.active {
  max-height: 240px;
  opacity: 1;
  overflow-y: scroll;
}

.select-box .options-container.active + .selected::after {
  transform: rotateX(180deg);
  top: -6px;
}

.select-box .options-container::-webkit-scrollbar {
  width: 8px;
  background: #0d141f;
  border-radius: 0 8px 8px 0;
}

.select-box .options-container::-webkit-scrollbar-thumb {
  background: #525861;
  border-radius: 0 8px 8px 0;
}

.select-box .option,
.selected {
  padding: 12px 24px;
  cursor: pointer;
}

.select-box .option:hover {
  background: #414b57;
}

.select-box label {
  cursor: pointer;
}

.select-box .option .radio {
  display: none;
}
.selected_catgy {
  display: flex;
  flex-wrap: wrap;
}

.selected_category {
  display: flex;
  flex-direction: row;
  align-items: center;

  color: #f5f6fa;
  margin-left: 0.5rem;
  margin-bottom: 0.2rem;
}
.cross_catgy {
  background: rgb(121, 46, 131);
  cursor: pointer;
  display: flex;
  padding-left: 5px;
  align-items: center;
  justify-content: space-between;
}
.selected_catgy_name {
  font-family: "Lora", serif;
  font-style: italic;
  font-weight: 400;
  margin-left: 0.8rem;
  background: #2f3640;
  padding: 5px;
}

.error_write {
  text-align: center;
  margin-top: 0.6rem;
  background: crimson;
  font-size: 1.3rem;
  color: whitesmoke;
  padding: 5px;
}

@media screen and (max-width: 320px) {
  .container {
    margin: 0.5rem;
    width: 80%;
  }
  .select-box {
    width: inherit;
  }
  .writeFormGroup {
    flex-wrap: wrap;
    margin-top: 10px;
  }
}
