.singlePost {
  flex: 9;
}

.singlePostWraper {
  padding: 20px;

  display: flex;
  flex-direction: column;
}

.singlePostImg {
  width: 100%;
  object-fit: contain;
  height: 18.75rem;
  border-radius: 5px;
}

.singlePostTitle {
  text-align: center;
  margin: 10px;
  font-size: 28px;
  font-family: "Lora", sans-serif;
  word-break: break-word;
}
.singlePostTitleUpdate {
  margin: 10px;
  font-family: "Lora", serif;
  font-size: 28px;
  text-align: center;
  border: none;
  color: gray;
  border-bottom: 1px solid lightgray;
}

.singlePostTitleUpdate:focus {
  outline: none;
}

.singlePostDescUpdate {
  border: none;
  color: #666;
  font-size: 18px;
  line-height: 25px;
  height: 80vh;
}
.singlePostDescUpdate:focus {
  outline: none;
}

.singlePostEdit {
  float: right;
  font-size: 16px;
}

.singlePostIcon {
  margin-left: 10px;
  cursor: pointer;
}

.singlePostIcon:first-child {
  color: teal;
}

.singlePostIcon:last-child {
  color: tomato;
}

.singlePostInfo {
  margin-bottom: 20px;
  display: flex;
  justify-content: space-between;
  font-size: 16px;
  color: #be9656;
  font-family: "Varela Round", Arial, Helvetica, sans-serif;
}

.singlePostAuthor {
  margin-left: 5px;
}

.singlePostDesc {
  color: #666;
  font-size: 18px;
  line-height: 25px;
  white-space: pre-wrap;
  word-break: break-word;
}

.singlePostDesc::first-letter {
  margin-left: 20px;
  font-size: 30px;
  font-weight: 600;
}
.updateButton {
  width: 100px;
  border: none;
  background-color: teal;
  padding: 5px;
  color: white;
  border-radius: 5px;
  cursor: pointer;
  align-self: center;
  margin-top: 20px;
}
.updateButton:disabled {
  background-color: gray;
  cursor: not-allowed;
}
.post_catgy {
  display: flex;
  flex-wrap: wrap;
}
.post_category {
  display: flex;
  flex-direction: row;
  align-items: center;

  color: #f5f6fa;
  margin-left: 0.5rem;
  margin-bottom: 0.2rem;
}
.tag_catgy {
  background: #be9656;
  display: flex;
  padding-left: 5px;
  align-items: center;
  justify-content: space-between;
  font-size: 0.7rem;
}
.post_catgy_name {
  font-family: "Lora", serif;
  font-style: italic;
  font-weight: 400;
  margin-left: 0.6rem;
  background: #2f3640;
  padding: 3px;
  font-size: 1rem;
}
.error_post {
  text-align: center;
  margin-top: 0.6rem;
  background: crimson;
  font-size: 1.3rem;
  color: whitesmoke;
  padding: 5px;
}

@media screen and (max-width: 320px) {
  .singlePostInfo {
    flex-wrap: wrap;
  }
  .singlePostAuthor {
    margin-bottom: 5px;
  }
}
