.sideBar {
  flex: 3;
  margin: 20px;
  padding-bottom: 30px;
  background-color: #f1eff1;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.sideBarItems {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.sideBarTitle {
  margin: 10px;
  padding: 5px;
  width: 80%;
  border-top: solid 1px #a7a4a4;
  border-bottom: solid 1px #a7a4a4;
  text-align: center;
  font-family: "Varela Round", sans-serif;
  font-size: 15px;
  line-height: 19px;
  color: #222222;
  font-weight: 600;
}

.sideBarItems > img {
  margin: 15px;
  border-radius: 8px;
  width: 90%;
}
.sideBarItems > p {
  margin: 30px;
  white-space: pre-wrap;
}

.sideBarList {
  list-style: none;
  margin-bottom: 30px;
}

.sideBarListItem {
  display: inline-block;
  width: 50%;
  margin-top: 15px;
  cursor: pointer;
}

.sidebarSocial {
  margin-top: 15px;
  width: 250px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.readmore {
  color: black;
  cursor: pointer;
  font-size: 1rem;
  margin-left: 10px;
}

.sidebarIcon {
  font-size: 16px;
  margin-left: 10px;
}

@media screen and (max-width: 768px) {
  .sideBar {
    flex-direction: column;
  }
  .sideBarItems > img {
    margin-top: 0px;
    width: 5.5rem;
    height: 5.5rem;
    border-radius: 50%;
    object-fit: cover;
    cursor: pointer;
    margin-left: 0.8rem;
  }
  /* .sas {
    display: -webkit-box;
    margin: 0 auto;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
  } */
  .sideBarList {
    display: flex;
    list-style: none;
    flex-direction: row;
    margin-bottom: 30px;
  }

  .sideBarList > a {
    margin-left: 0.8rem;
  }
  .sideBarItems {
    display: flex;
    flex-direction: row;
    align-items: center;
  }
}
